* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(104, 1, 44);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h1{
    color: rgb(87, 188, 255);
    display: inline;
    text-align: center;
    font-size: 50px;
    position: relative;
}
h2 {
    color: rgb(212, 138, 0);
    font-size: 30px;
    display: inline;
    text-align: left;
    position: relative;
}

h1:hover{
    color: aliceblue;
}

h2:hover{
    color: rgb(255, 255, 255);
}



.container {

    width: 960px;
    height: 720px;
    /*background-image: url(./mondrian.jpg);*/
    background-size: cover;
    background-repeat:no-repeat;
    border: 1px solid black;
    position: relative;
    margin: 20px auto;
    background-color: black;
}

.tira1 {
    width: 5.9%;
    height: 27.6%;
    background-color: white;
}

.tira2 {
    margin-top: 20.2px;
    width: 5.9%;
    height: 31%;
    background-color: white;
}

.tira3 {
    margin-top: 20.2px;
    width: 5.9%;
    height: 35.8%;
    background-color: white;
}

.tira2-1 {
    position: absolute;
    background-color: yellow;
    width: 10.9%;
    height: 27.6%;
    top: 0;
    left: calc(20px + 5.8%);  
}

.tira2-2 {
    position: absolute;
    background-color: white;
    width: 10.9%;
    height: 31%;
    top: calc(27.6% + 20.2px);
    left: calc(20px + 5.8%);
}

.tira2-3 {
    position: absolute;
    background-color: white;
    width: 10.9%;
    height: 16.4%;
    top: calc(27.6% + 20.2px + 31% + 20.2px);
    left: calc(20px + 5.8%);
}

.tira2-4 {
    position: absolute;
    background-color: blue;
    width: 10.9%;
    height: 16.5%;
    top: calc(27.6% + 3* 20.2px + 31% + 16.4%);
    left: calc(20px + 5.8%);
}

.tira3-f1 {
    position: absolute;
    background-color: blue;
    width: 25.6%;
    height: 27.6%;
    top: 0;
    left: calc(2* 20px + 5.8% + 10.9%);
}

.tira3-f2 {
    position: absolute;
    background-color: red;
    width: 29.8%;
    height: 27.6%;
    top: 0;
    left: calc(3* 20px + 5.8% + 10.9% + 25.5%);
}

.tira3-f3 {
    position: absolute;
    background-color: yellow;
    width: 8.6%;
    height: 27.6%;
    top: 0;
    left: calc(4* 20px + 42.2% + 29.8%);

}

.tira3-f4 {
    position: absolute;
    background-color: white;
    width: 9.1%;
    height: 27.6%;
    top: 0;
    left: calc(5* 20px + 42.2% + 29.8% + 8.5%);
}



.palo {
    position: absolute;
    background-color: white;
    width: 9.1%;
    height: 50.3%;
    top: calc(27.6% + 20px);
    right: 0;
}

.pali {
    position: absolute;
    background-color: white;
    width: 9.1%;
    height: 16.5%;
    top: calc(27.6% + 2* 20px + 50.3%) ;
    right: 0;
}

.tira4-f1 {
    position: absolute;
    background-color: white;
    width: 25.6%;
    height: 31%;
    top: calc(27.6% + 20.2px);
    left: calc(2* 20px + 5.8% + 10.9%);
    
}

.tira4-f2 {
    position: absolute;
    background-color: white;
    width: 10.3%;
    height: 31%;
    top: calc(27.6% + 20.2px);
    left: calc(3* 20px + 5.8% + 10.9% + 25.5%);
    
}

.tira4-f3 {
    position: absolute;
    background-color: blue;
    width: 17.6%;
    height: 31%;
    top: calc(27.6% + 20.2px);
    left: calc(4* 20px + 42% + 10.3%);
   
}

.tira4-f4 {
    position: absolute;
    background-color: red;
    width: 8.7%;
    height: 31%;
    top: calc(27.6% + 20.2px);
    left: calc(5* 20px + 52.2% + 17.5%);   
}


.tira5-f1 {
    position: absolute;
    background-color: red;
    height: 16.4%;
    width: 37.9%;
    top: calc(27.6% + 2 * 20.2px + 31%);
    left: calc(2* 20px + 5.8% + 10.9%);
}

.tira5-f2 {
    position: absolute;
    background-color: white;
    height: 16.4%;
    width: 17.6%;
    top: calc(27.6% + 2 * 20.2px + 31%);
    left: calc(3* 20px + 16.7% + 37.9%);
}

.tira5-f3 {
    position: absolute;
    background-color: yellow;
    height: 16.4%;
    width: 8.7%;
    top: calc(27.6% + 2 * 20.2px + 31%);
    left: calc(4* 20px + 16.7% + 37.9% + 17.3%);
}



.tira6-f1 {
    position: absolute;
    background-color: yellow;
    height: 16.6%;
    width: 37.9%;
    top: calc(3 * 20.2px + 58.6% + 16.4%);
    left: calc(2* 20px + 5.8% + 10.9%);
}

.tira6-f2 {
    position: absolute;
    background-color: white;
    height: 16.6%;
    width: 28%;
    top: calc(3 * 20.2px + 58.6% + 16.4%);
    left: calc(3* 20px + 5.8% + 10.9% + 37.9%);

}
